# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Data (if file is large > 50MB)
# data/openaq_merged.csv

# Models (if large)
# models/*.pkl

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db